html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: #ededed;
  font-family: 'Lato', sans-serif;
  text-align: left;
  word-break: break-word;
}

@media (max-width: 767px) {
  body {
      margin: 2% 5% 0px 5%;
  }
}